<div style="max-width: 500px; margin: auto;">
    <section class="content-header">
        <h1>
            Login
        </h1>
    </section>
    <section class="content">
        <div class="show-hide message" ng-show="main.successMsg">
            <div class="alert alert-success">{{ main.successMsg }}</div>
        </div>

        <div class="show-hide message" ng-show="main.errorMsg">
            <div class="alert alert-danger">{{ main.errorMsg }}</div>
        </div>

        <div class="box box-default">
            <!--<div class="box-header with-border">-->
            <!--<h3 class="box-title">Home</h3>-->
            <!--</div>-->
            <form ng-submit="main.login(data);" class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="username">Username</label>
                        <div class="col-sm-10">
                            <input type="text" id="username" name="username" class="form-control" ng-model="main.data.username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="password">Password</label>
                        <div class="col-sm-10">
                            <input type="password" id="password" name="password" class="form-control" ng-model="main.data.password">
                        </div>
                    </div>

                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Login</button>

                    <span ng-show="main.loading">
                    <span class="glyphicon glyphicon-repeat spin"></span>
                    <span>Loading...</span>
                </span>
                </div>
            </form>
        </div>
    </section>
</div>